<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登陆日志管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

	<style>
		.select{
			background: #0d6aad;
			color: white;
		}
		.btn-hover:hover{
			background: #0d6aad;
			color: white;
		}
		.btn-hover:focus{
			background: #0d6aad;
			color: white;
		}
	</style>
</head>
<body class="hold-transition skin-red sidebar-mini">
<div id="app">
    <!-- .box-body -->
    <div class="box-header with-border">
        <h3 class="box-title">登陆日志管理</h3>
    </div>

    <div class="box-body">

        <!-- 数据表格 -->
        <div class="table-box">

            <!--工具栏-->
            <div class="pull-left">
                <div class="form-group form-inline">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default " title="上一页" @Click="prePage()"><i
                                class="fa fa-file-o"></i> 上一页
                        </button>
                        <button type="button" @Click="page=p" class="btn btn-default btn-hover" :class="{'select':page==p}" v-for="p in totalPage"><i class="fa fa-trash-o"></i> {{p}}</button>
                        <button type="button" class="btn btn-default" @Click="nextPage()" title="下一页"><i class="fa fa-refresh"></i> 下一页
                        </button>
						<span style="line-height: 34px;">总记录数: {{total}}</span>
                    </div>
                </div>
            </div>
            <div class="box-tools pull-right">
                <div class="has-feedback">

                </div>
            </div>
            <!--工具栏/-->

            <!--数据列表-->
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>

                    <th class="sorting_asc">LoginID</th>
                    <th class="sorting">登陆用户ID</th>
                    <th class="sorting">登陆IP</th>
                    <th class="sorting">登陆时间</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="log in logs">
                    <!--					<td><input type="checkbox"></td>-->
                    <td v-text="log.loginId"></td>
                    <td v-text="log.userId"></td>
                    <td v-text="log.loginIp"></td>
                    <td>{{log.loginTime}}</td>
                    <td class="text-center">
                        <button type="button" class="btn bg-olive btn-xs" @click="deleteLog(log.loginId)">
                            删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--数据列表/-->


        </div>
        <!-- 数据表格 /-->


    </div>
    <!-- /.box-body -->

    <!-- 编辑窗口 -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">品牌编辑</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped" width="800px">
                        <tr>
                            <td>品牌名称</td>
                            <td><input class="form-control" placeholder="品牌名称"></td>
                        </tr>
                        <tr>
                            <td>首字母</td>
                            <td><input class="form-control" placeholder="首字母"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">保存</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

    var app = new Vue({
        el: '#app',
        data: {
            // 当前页
            page: 1,
            // 每页显示条数
            size: 5,
            // 总页数
            totalPage: 0,
            // 总条数
            total: 0,
            logs: []
        },
        methods: {
            loadData() {
                // 后端发送请求
                axios.get('/log/page.shtml?page=' + this.page + '&size=' + this.size, this.user).then(({data}) => {
                    this.logs = data.items;
                    this.totalPage = data.totalPage;
                    this.total = data.total;
                    console.log(data);
                }).catch((error) => {
                    console.log(error);
                });
            },
            deleteLog(id) {
                // 后端发送请求
                axios.delete('/log/' + id + '.shtml').then(({data}) => {
                    if (data.code === 200) {
                        // 重新加载数据
                        this.loadData();
                    } else {
                        alert(data.message);
                    }
                }).catch((error) => {
                    console.log(error);
                });
            },
            prePage() {
                let page = this.page;
				if (page <= 0) {
					this.page = 1;
				} else {
					this.page--;
				}

            },
            nextPage() {
                let page = this.page;
				if (page >= this.totalPage) {
					this.page = this.totalPage;
				} else {
					this.page++;
				}

            }
        },
        created() {
            this.loadData();
        },
        watch: {
			page(newValue, oldValue){
				this.loadData();
			},
			size(newValue, oldValue){
				this.loadData();
			}
        }

    });
</script>
</body>
</html>